.navbar{
    margin-top: -20px;
   }

   /* Landscape */
@media screen 
and (max-width: 640px) 
and (max-height: 360px) 
and (orientation: landscape) {

.nav>li{
    float: left;


}

.navbar-nav{
    margin: 0px -15px !important;
  }

}

/* portrait */
@media screen 
and (max-width: 360px) 
and (max-height: 640px) 
and (orientation: portrait) {

.nav>li{
    float: left;
    

}}

.stocks{
    display: none;
}