<div class="container">
  <section>
    <div class="row">
      <div class="col-md-6 right-border">
        <h1>
          A little about me.
          <a class="btn btn-default" routerLink="/welcome">Go back.</a>
        </h1>
        <p>
          Hi, my name is Matt Watts.  I am back in college...for the third time.  What can I say, I love to learn.  In 2012, I graduated with my MBA and went on 
          to work in third party logistics for a short period of time.  
          <br>
          <br>
          It wasn't for me.  
          <br>
          <br>
          So I made the choice to leave my job to try and find something
          more fulfilling.  After a backpacking trip in southeast Asia, I decided to try out the casino industry.  I always excelled at Math,
          and am a big fan of games as well as the statistics behind them.
          <br>
          <br>
          So I began supervising at a casino. I enjoyed it for a while, but I wasn't using my mind
          to the extent that I wanted to.  I didn't feel that I was contributing anything meaningful, never had the opportunity to innovate,
          and nothing was challenging me.
          <br>
          <br>
          I have always enjoyed the STEM fields, but for some reason didn't major in one.  I even started writing code in 8th grade, so what happened
          when I went off to college?  I don't know; thinking about it now, it seems like I was just on autopilot.  Going to college because I was
          supposed to, majoring in business because it was popular.  Not a good way to make important life choices, I know.
          <br>
          <br>
          So 2 years ago, I made the big decision to go back to school for something that would really make me happy.  I wanted a career where I could 
          innovate everyday, always be solving problems, and actually contribute to our society.  It has turned out to be the correct decision by a long shot.
          
          Fast forward to today.  I am 3 semesters from graduating, have had excellent academic peformance, experienced industry-relevant internships at 2 companies, 
          and am thouroughly enjoying every day. 
        </p>
      </div>  
      <div class="col-md-6">
          <h1>
              So what's next?
            </h1>
            <p>
                Well, as the last Summer before my graduation approaches, I am doing everything I can to make it one that will help define myself and my future career.
                <br>
                <br>
                I want that definition to include a broad range of knowledge, a passion for engineering and computer science, a wide array of cultural experiences, and the opportunity to innovate every day.
                Now that I am in my junior year studying computer science and have gained relevant industry experience, I feel that I am well-qualified for many internship opportunities.  That being said, I have been on the search for the company that could make this all possible.
                <br>
                <br>
                I believe Epic Healthcare may be that company.  I am trying to explore outside of my comfort zone by working with technologies that I may lack experience with, in an environment that I am not used to.  I believe this is a great way to make myself into a more powerful and resourceful developer.
                <br>
                <br>
                Are you wondering if I made this site specifically to apply to Epic?  Yes I did.  I have heard great things about the company, and believe that
                I could learn invaluable skills from the software developer internship during next summer.  I know that in return I would bring a lot of value to Epic and
                leave a lasting impression.
                <br>
                <br>
                I know this is a very wordy page, but there is some fun to be had, don't worry.  Just click on "Whoa!!" in the navbar.

            </p>
      </div>
    </div>
  </section>
</div>