<app-jumbo></app-jumbo>
<a scrollTo href="#scrollToMe" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
<div id="scrollToMe" class="container full-view-height">
<app-below-the-fold></app-below-the-fold>
  <!-- row -->
  <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application. The guide covers
    the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy
    your own apps.
  </div>
</div>