<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Choose a Strategy.</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href="javascript:void(0)" (click)="setStrategySwitch('gap')">Gap Trading</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="setStrategySwitch('hft')">High Frequency Arbitrage</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="setStrategySwitch('macd')">MACD</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="setStrategySwitch('monkey')">Monkey w/ a Dart</a>
      </li>
    </ul>
  </nav>
  <!-- <div id="content">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      <i class="glyphicon glyphicon-align-left"></i>
      Toggle Sidebar
    </button>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <div class="jumbotron">
          This is small project I've just started. It's purpose is to analyze the performance of various
          stock trading techniques.  For my first Bachelor's degree I majored in Finance,
          and followed that with an MBA concentrating in investment management.  I am fascinated
          by the movement of money around the world, and am glad to be able to combine my passion
          for computer science with my other interests.
        </div>
          <div [ngSwitch]="strategyDisplayed">
              <div *ngSwitchCase="'gap'">
               <app-gap-trading></app-gap-trading>
              </div>
              <div *ngSwitchCase="'hft'">
                HFT not yet implemented.
              </div>
              <div *ngSwitchCase="'macd'">
                  MACD not yet implemented.
              </div>
              <div *ngSwitchCase="'monkey'">
                Monkey not yet implemented.
              </div>
            </div>
      </div>
      <div class="col-xs-3">
        <div class="row">
          <div class="form-group">
            <div class="col-md-6">
              <label for="stock-symbol">Stock Symbol</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control max-100" id="stock-symbol" placeholder="e.g. GOOG" [(ngModel)]="tickerSymbol">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group padding-top-10">
            <div class="col-md-6">
              <label for="time-frame">Time Frame</label>
            </div>
            <div class="col-md-6 align-right">
              <select class="form-control max-100" id="time-frame" [(ngModel)]="timeFrame">
                <option>1 mo</option>
                <option>3 mo</option>
                <option>6 mo</option>
                <option>1 yr</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 padding-10">
            <button type="button" class="btn btn-default btn-block" (click)="analyze()">Add</button>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let stock of addedStocks; let i = index">{{stock}}
            <span class="glyphicon glyphicon-remove pull-right glyph-fix" (click)="removeStock(i)"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>