<div class="jumbotron text-center">
  <div class="buffer">
    
  </div>
  <div class="container">
    <span class="lang-logo">
      <img style='height: 100%; width: 100%; object-fit: contain' src="./assets/matt.png">      
    </span>
    <h1>Welcome, Epic! Thanks for taking the time to visit.</h1>
    <p><strong>This is just a way for me to introduce myself, and provide you with a small view into my life.  Have a look around.</strong></p>
    <a routerLink="/whoiam" class="btn btn-lg btn-default" ><span class="glyphicon glyphicon-info-sign"></span> Learn about who I am.</a>
    <a routerLink="/whatido" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-info-sign"></span> Learn about what I do.</a>
    
  </div>
  <a scrollTo href="#scrollToMe" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
</div>  