.jumbotron {
    background-image: url("../../assets/aoeu.png");
    background-size: 100%;   
    margin-bottom: 0;
    margin-top: -20px;   
    height: calc(100vh - 52px); 
    padding-top:0px;
    overflow: hidden;
  }

.jumbotron h1{
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: #464444;    
}

.jumbotron .btn-primary {
  background: #222222;
  border-color: black; 
}

.jumbotron .btn-default {
  background: white;
  border-color: black; 
}

.jumbotron .btn-primary:hover {
  background: darkgray; 
}

.jumbotron .btn-default:hover {
  background: darkgray; 
}

.jumbotron p {
  color: black;
  max-width: 75%;
  margin: 1em auto 2em;
 }

.jumbotron .lang-logo {
  display: block;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
 }

.jumbotron .lang-logo img {    
  max-width: 100%;
}

.jumbotron .btn-block{
  position: absolute;
  bottom: 0px;
  height: 25px;
  border-radius: 0px;
}

 
.glyphicon-triangle-bottom{

top:-6px;
}

.buffer{
  height: calc((100vh - 80px)*.12); 
}



/* Portrait */
@media screen 
and (max-width: 360px) 
and (max-height: 640px) 
and (orientation: portrait) {

  .buffer{
    height: calc((100vh - 80px)*.09); 
  }

  .jumbotron {
    background-image: url("../../assets/aoeu.png");
    background-size: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: calc(100vh - 70px) !important; 
     
  }

.jumbotron h1{
  -webkit-text-stroke-width: 0px;
    color: black;    
    font-size: 1.5em;
    font-weight: bold;
    margin-top:25px;
}

.jumbotron p{
  color: #464444;    
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
}

.jumbotron .btn-default {
  background: white;
  border-color: black; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.jumbotron .btn-primary:hover {
  background: #222222;
  border-color: black; 
}



}

/* Landscape */
@media screen 
and (max-width: 640px) 
and (max-height: 360px) 
and (orientation: landscape) {

  .buffer{
    height: calc((100vh - 80px)*.11); 
  }

 .jumbotron {
    background-image: url("../../assets/aoeu.png");
    background-size: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: calc(100vh - 53px); 

  }

.jumbotron h1{
  -webkit-text-stroke-width: 0px;
    color: black;    
    font-size: 1.5em;
    font-weight: bold;
    margin-top:5px;
    margin-left:125px;
    
}

.jumbotron p{
  color: #464444;    
  font-size: 1em;
  font-weight: bold;
 margin-bottom: 10px;
  margin-left:125px;

}

.jumbotron .btn-default {
  background: white;
  border-color: black; 
  font-size: .9em;

}

.jumbotron .btn-primary {
  background: #222222;
  border-color: black; 
  font-size: .9em;
}

.jumbotron .btn-primary:hover {
  background: #222222;
  border-color: black; 
}


.glyphicon-triangle-bottom{  
  top:-3px;
  }

.jumbotron .lang-logo {
 float:left;
 margin-top:5px;
}



}