.jumbotron {
    background-image: url("../../assets/aoeu.png");
    background-size: 100%;
    /* background: rgba(111,75,145,0.2); */
    
    padding-bottom: 80px;
    margin-bottom: 0;
  }

.jumbotron h1{
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #363636;
}

.jumbotron .btn-primary {
  background: #222222;
  border-color: black; 
}

.jumbotron .btn-default {
  background: white;
  border-color: black; 
}

.jumbotron .btn-primary:hover {
  background: darkgray; 
}

.jumbotron .btn-default:hover {
  background: darkgray; 
}

.jumbotron p {
  color: #363636;
  max-width: 75%;
  margin: 1em auto 2em;
 }

.jumbotron {
  margin-top: -20px;
 }

.jumbotron .lang-logo {
  display: block;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
 }

.jumbotron .lang-logo img {    
  max-width: 100%;
}