<div class="row negative-twenty-margin">
  <div class="col-md-4 color-1">
    <h4>
      Programming Languages
      <a class="btn btn-default" routerLink="/welcome">Go back.</a>
    </h4>
    <p>
      I love to write code.
      <br>
      <br>
      There are 4 programming languages that are in my life organically.  At work, I use C# and JavaScript/TypeScript on
      a regular basis, and this semester, I am taking classes in Java and MIPS assembly.
      <br>
      <br>
      I wanted more, so I created a new repository with the goal of learning about 7 popular languages at the same time.
      I am working on coding up examples of the fundamentals, as well as implementing common data structures/algorithms in each language.
      This is a relatively new undertaking, but I am enjoying it a lot.  I plan to look into the standard libraries and popular frameworks for each as well.
      <br>
      <br>
      The languages I'm exploring are :   
    </p>
        <ul>
          <li>
            C
          </li>
          <li>
            C#
          </li>
          <li>
            C++
          </li>
          <li>
            Java
          </li>
          <li>
            JavaScript
          </li>
          <li>
            Python
          </li>
          <li>
            Ruby
          </li>
        </ul>
        <p>
          My strongest languages at this time are Java and JavaScript.
        </p>
  </div>
  <div class="col-md-4 color-2">
    <h4>
      8-bit Computer
    </h4>
    <p>
      Software is definitely my strongest area of interest, but I'm interested in hardware as well.
      As a way to gain a deeper understanding of how a computer works, and to supplement my Digital Logic and Computer Architecture courses,
      I am building an 8-bit computer on breadboards.
      <br>
      <br>
      As I learned about latches and comparators, I built a clock for the CPU.  As I learned about JK flip flops, I built some
      registers.  I plan to continue to add components as I learn about them.
      <br>
      <br>
      When I'm feeling crazy, I imagine I might implement TCP/IP on it from scratch.  We'll see...
    </p>
  </div>
  <div class="col-md-4 color-3">
    <h4>
      Energy Analytics      
    </h4>
    <p>
      I am currently working at Rockwell Automation in Milwaukee as a Systems Architect intern.  I am learning a lot about 
      creating an end to end solution from conception through commercialization.  
      <br>
      <br>
      Our team is building an application to help manufacturers increase their energy efficiency and lower overall consumption.
      I have been given a lot of responsibility on the development of our application.
      <br>
      <br>
      In my time at Rockwell, I have gained experience
      in network programming, .NET, ASP.NET Core, Angular, MongoDB, and SQL Server, among other technologies.
    </p>
  </div>
</div>