.color-1{
    background: #DADCE2;
    min-height: 100vh;
    text-align: left;
    padding: 20px 50px 50px 50px;  
}

.color-2{
    background: rgb(240, 243, 237);
    min-height: 100vh;
    text-align: left;
    padding: 20px 50px 50px 50px;   
}

.color-3{
    background: #DADCE2;
    min-height: 100vh;
    text-align: left;
    padding: 20px 50px 50px 50px;  
}

.negative-twenty-margin{
    margin-top:-20px;
    overflow: hidden;  
}

.btn-default{
    margin-top:10px;
}

/* Landscape */
@media screen 
and (max-width: 640px) 
and (max-height: 360px) 
and (orientation: landscape) {
   
    .color-1{
        min-height: 0;
    }
    .color-2{
        min-height: 0;
    }
    .color-3{
        min-height: 0;
    }
    
}

/* portriat */
@media screen 
and (max-width: 360px) 
and (max-height: 640px) 
and (orientation: portrait) {
    .color-1{
        min-height: 0;
    }
    .color-2{
        min-height: 0;
    }
    .color-3{
        min-height: 0;
    }
    

}